.app-footer {
    width: 100%;
    background: #0047bbff;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    color: #f9f4f4;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  }
  
  .footer {
    font-weight: bold;
  }
  