.right-panel {
    width: 280px;
    background: white;
    padding: 15px;
    border-left: 1px solid lightgray;
  
    .widget {
      background: #f3f4f6;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    // .people ul {
    //   list-style: none;
    //   padding: 0;
  
    //   li {
    //     display: flex;
    //     align-items: center;
    //     gap: 10px;
    //     margin-bottom: 10px;
    //   }
  
    //   .avatar {
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //   }
  
    //   .name {
    //     font-weight: bold;
    //   }
  
    //   .role {
    //     font-size: 0.9em;
    //     color: gray;
    //   }
    // }
  }
  